snippet	sf
require 'rails_helper'

RSpec.describe '$0', type: :feature do

end
endsnippet

snippet	sm
require 'rails_helper'

RSpec.describe $0, type: :model do

end
endsnippet

snippet	sv
require 'rails_helper'

RSpec.describe '$0', type: :view do

end
endsnippet

snippet	sc
require 'rails_helper'

RSpec.describe $0, type: :controller do

end
endsnippet

snippet	s
require 'rails_helper'

RSpec.describe '$0' do

end
endsnippet
